/* ======= About-section ========== */
.about{
    height: 588px;
}
.height-container{
    height: inherit;
}
.about-contant{
    @extend %flex-wrap;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
    gap: 120px;
}
.about-pets{
    width: 300px;
    height: 408px;
}
.about-text {
    width: 430px;
    height: 380px;
    padding-top: 14px;
    h3 {        
        margin: 0px;
    }
    p{
        @extend %ParagraphL;        
        margin: 25px 0px;
    }
}
/* ======= About-section END ========== */