/* ======= About-section ========== */

.height-container{
    height: inherit;
}
.about-contant{
    @extend %flex-wrap;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    align-content: center;
    padding: 80px 0 100px;
    gap: 120px;
}
.about-pets{
    width: 300px;
    height: 408px;
}
.about-text {
    width: 430px;
    height: 380px;
    padding-top: 14px;
    h3 {        
        margin: 0px;
    }
    p{
        @extend %ParagraphL;        
        margin: 25px 0px;
    }
}
/* ======= About-section END ========== */

@media screen and (max-width: $content-width) {
    .about-contant{
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }
    .about-text{
        padding: 0;
    }
}

@media screen and (max-width: $tablet-width) {
    .about-text{
        width: 90vw;
    }
}