 /* ======= Donation-section ========== */

 .donation {   
    background-color: $color-light-l;
}
.donation-contant{
    @extend %flex-wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 80px 0 100px;
    .donation-contant__dog{
        height: 261px;
    }
    .donation-contant__info{
        max-width: 380px;
        max-height: 282px;
        h3{
            margin-top: 0;
            margin-bottom: 20px;
        }
        h5{
            margin: 20px 0;
        }
        .lorem-p{
            font: $arial-italic;
            font-size: 1.2rem;
            line-height: 18px;
            color: $color-dark-m;
            margin-top: 20px;
        }
    }
}
.card{
    @extend %flex-nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background-color: $color-primary;
    padding: 0 15px;
    &:hover{
        @extend %hoverButton;
    }
    img{
        width: 30px;
        height: 23px;
    }
    .card-numbers{
        font: $georgia-regular;
        font-size: 2.0rem;
        color: $color-dark-l;
        line-height: 115%;
        letter-spacing: 0.06em;
        a{
            text-decoration: none;
            color: $color-dark-l;
        }
    }
}
  /* ======= Donation-section END ========== */

  @media screen and (max-width: $content-width) {
    .donation-contant{
        flex-direction: column-reverse;
        gap: 60px;
    }
  }

  @media screen and (max-width: $tablet-width) {
    .donation-contant {
        padding: 0;
        .donation-contant__info{
            text-align: center;
            display: flex;            
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            h3{
                margin: 42px 0 10px;
            }
            h5{
                margin: 15px 0 20px;
                letter-spacing: 0;
            }
            .card{
                width: 281px;
                .card-numbers{
                    font-size: 1.5rem;
                }
            }
            .lorem-p{
                text-align: justify;
            }
        }
        .donation-contant__dog{
            @include calcWidth(width, null, 260, 505, 100, 320, 767);
            height: auto;
            margin: 20px 0 42px;
        img{
            width: 100%;
            height: auto;
        }
        }
    }
  }