/* ======= Help-section ========== */


.help-contant{
    @extend %flex-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px;
    h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
    .help-contant__list{
        @extend %flex-wrap;
        flex-direction: row;
        justify-content: center;
        gap: 55px 120px;
    }   
        .list-item{
            @extend %flex-nowrap;
            flex-direction: column;
            align-items: center;            
        }
            h4{
                margin-top: 30px;
                margin-bottom: 0;
            } 
}

  /* ======= Help-section END ========== */

@media screen and (max-width: $content-width) {
    .help-contant{
        .help-contant__list{
            @include calcWidth(gap, 55px, 60, 210, 100, 768, 1279);
            // gap: 55px 60px;
            // padding: 0 69px;
            .list-item{           
                flex-basis: 170px;
            }
        }
    }    
}

@media screen and (max-width: $tablet-width) {
    .help-contant{
        .help-contant__list{
            justify-content: space-between;
            // gap: 30px 0;
            padding: 0 17px;
            @include calcWidth(gap, 30px, 10, 80, 100, 320, 767);
            @include calcWidth(padding, 0, 15, 120, 100, 320, 767);
            margin-bottom: 42px;
            .list-item{
                flex-basis: 130px;
            }
            h4{
                font-size: 1.5rem;
                margin-top: 20px;
            }
        }
        padding: 0;
        h3{
            margin: 42px 0;
        }
    }
    .svg-icon{
        max-height: 50px;
        max-width: 60px;
    }
}