/* ======= Help-section ========== */


.help-contant{
    @extend %flex-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px;
    h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
    .help-contant__list{
        @extend %flex-wrap;
        flex-direction: row;
        justify-content: center;
        gap: 55px 120px;
    }   
        .list-item{
            @extend %flex-nowrap;
            flex-direction: column;
            align-items: center;            
        }
            h4{
                margin-top: 30px;
                margin-bottom: 0;
            } 
}

  /* ======= Help-section END ========== */

@media screen and (max-width: $content-width) {
    .help-contant{
        .help-contant__list{
            @include calcWidth(gap, 55px, 60, 210, 100, 769, 1279);
            // gap: 55px 60px;
            // padding: 0 69px;
            .list-item{           
                flex-basis: 170px;
            }
        }
    }
    
}