/* ======= Pets-section  ========== */
.pets{    
    background-color: $color-light-l;
}
.pets-contant{
    @extend %flex-wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 100px;
    h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
    // button {
    //     width: 261px;
    // }
}
.pets-contant__slider{
    @extend %flex-wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 90px;
    margin-bottom: 60px;

}
.slider-card{   
    h4 {
        margin: 30px 0;
    }
    button{
        @extend %buttonWhite;
        width: 187px;  
    }
    img{
        position: relative;
        height: 270px;
        width: 270px;
        object-fit: cover;
        border-radius: 9px 9px 0px 0px;
        }
    &:hover{
        @extend %hoverCards;
    }
    &:hover .button{
        @extend %hoverButton;
    }
    @extend %flex-nowrap;
    flex-direction: column;
    align-items: center;    
    width: 270px;
    height: 435px;
    background-color: $color-light-s;

}

/* ======= Pets-section END ========== */