/* ======= Start-section ========== */
.start-content{  
    background-image: url(../../assets/images/start-screen-gradient-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;      
    z-index: 1;
}
.start-container {
    max-width: 1280px;    
    padding: 180px 40px 0;    
    // background-image: url(../../assets/images/start-screen-gradient-background.jpg);
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    @extend %flex-wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}
.start-content__screen{
    padding-bottom: 240px;
    max-width: 460px;
}
.heading{    
    color: $color-light-xl;
    margin-top: 5px;
}
.subheading{
    @extend %ParagraphL;
    color: $color-dark-s;
    max-width: 460px;
    padding-top: 5px;
}

.start-content__img{
    position: relative;    
}

@media screen and (max-width: $content-width) {
    .start-container{
        align-items: center;
        justify-content: flex-end;
        padding: 150px 30px 0;        
    }
    .start-content__screen{
        padding-bottom: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
        .heading{
            margin: 0 0 22px;           
        }
        a{
            align-self: center;
        }
    }
    .start-content__img{        
        @include calcWidth(width, null, 569, 698, 100, 768, 1279);
    }
}

@media screen and (max-width: $tablet-width) {
    .start-container{
        padding: 150px 10px 0;
    }
    .start-content__screen{
        align-items: center;
        text-align: center;
    }
    .start-content__img{
        // max-width: calc(100vw / 1.349736379613357);
        @include calcWidth(width, null, 260, 569, 100, 320, 768);
    }
    .heading{
        font-size: 2.5rem;
        letter-spacing: 0.06em;
    }
}

@media screen and (max-width: $mobile-small-width) {
    .start-container{
        height: 823px;
    }
}