@font-face {
    font-family: 'Arial Regular';
    src: url('../../../assets/fonts/ArialMT.eot');
    src: url('../../../assets/fonts/ArialMT.eot');
    src: url('../../../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/ArialMT.woff') format('woff'),
    url('../../../assets/fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Arial';
    src: url('../../../assets/fonts/Arial-ItalicMT.eot');
    src: local('Arial Italic'), local('Arial-ItalicMT'),
        url('../../../assets/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/Arial-ItalicMT.woff') format('woff'),
        url('../../../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../../assets/fonts/Georgia-Bold.eot');
	src: local('Georgia Bold'), local('Georgia-Bold'),
		url('../../../assets/fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../../assets/fonts/Georgia-Bold.woff') format('woff'),
		url('../../../assets/fonts/Georgia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../../assets/fonts/Georgia.eot');
	src: local('Georgia'),
		url('../../../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../../../assets/fonts/Georgia.woff') format('woff'),
		url('../../../assets/fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../../assets/fonts/Georgia-Italic.eot');
	src: local('Georgia Italic'), local('Georgia-Italic'),
		url('../../../assets/fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
		url('../../../assets/fonts/Georgia-Italic.woff') format('woff'),
		url('../../../assets/fonts/Georgia-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}