/* ======== HEADER ======== */
.header {
    // width: 1280px;
    height: 60px;
    margin-bottom: -60px;

    top: 0;
    left: 0;
    width: 100%;
}
.header__container{
    @extend %flex-wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header-container{
    @extend %flex-nowrap;
    align-items: center;
    justify-content: space-between;    
    padding: 60px 0;
}
.logo {    
    @extend %flex-nowrap;
    flex-direction: column;
    align-items: center;
    // padding-left: 40px;    
}
.logo-title{
    font: $georgia-regular;
    // color: $color-primary;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    margin: 0;
    a{
        text-decoration: none;
        color: inherit;
    }
}
.logo-under_title {
    font: $arial-regular;
    // color: $color-light-xl;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    // margin-top: 10px;
    margin: 10px 0 0;
}

.nav{
    .nav-list{
        @extend %flex-wrap;
        flex-direction: row;
        list-style: none;        
    }
      .nav-item{
          margin-right: 36px;
      }
      .nav-item:last-child{
          margin-right: 0;
      }
       .nav-link{
           text-decoration: none;
           font: $arial-regular;
        //    color: $color-dark-s;
           cursor: pointer;
           position: relative;
       }
}
.nav-link{
    &:after{
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -7px;
        width: 0;
        height: 3px;       
        background-color: $color-primary;
        transition: width 0.5s;
    }
    &:hover:after{
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -7px;
        height: 3px;
        
        background-color: $color-primary;
        transition: width 0.5s;
    }
    &:hover{
        color: $color-light-s;
        transition: 0.5s;
    }
}
.nav-active{
    // border-bottom: 3px solid $color-primary;
    .nav-link{
        // color: $color-light-s;
    }
    &:after{
        content: "";
        width: 100%;
        display: block;
        position: relative;
        right: 0;
        bottom: -3px;       
        height: 3px;       
        background-color: $color-primary;
    }
}
.header__burger {
    display: block;
    position: fixed;
    right: 0;
    margin-right: 53px;
    width: 30px;
    height: 22px;
    z-index: 15;
    transition: 0.5s all linear;
}
.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    left: 0;
    transition: 0.5s all linear;
}
.burger__line_first {
    top: 0;
}
.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third{
    bottom: 0;
}

@media screen and (max-width: $content-width) {
    .header-container{
        padding: 30px 30px 0;
        // margin: 0;
    }
}
@media screen and (min-width: 768px ) {
    .header__burger{
        display: none;
    }
}

@media screen and (max-width: $tablet-width) {
    .header-container{
        padding: 30px 10px 0;
    }
    .nav{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        background-color: $color-dark-3xl;
        transform: translateX(100%);
        transition: 0.5s all linear;
        .nav-list{
            flex-direction: column;
            padding: 0;
            align-items: center;
        }
        .nav-item{
            padding: 26px 0;
            margin: 0;
            text-align: center;
        }
        .nav-link{
            font-size: 3.2rem;
        }
    }
    .nav-open{
        transform: translateX(0);
    }
}