* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{

}

.container{
    height: 100vh;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(49,49,138,1) 42%, rgba(0,212,255,1) 100%); 
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card{
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .1s;
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}