* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
}
html{
    height: 100%;
}
body {
    height: 100%;   
    overflow: hidden;
}

.wrapper{    
    height: 100%;
    overflow: hidden;
}

.container{
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(49,49,138,1) 42%, rgba(0,212,255,1) 100%); 
}

.memory-game{
    width: 640px;
    height: 640px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card{
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .1s;
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.front-face,
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}

.score-main{
    color: white;
}

.table-records{
    /* position: absolute; */
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 640px;
    height: 640px;
    margin: auto;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
}
.score{    
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;
}

.records{
    display: flex;
    flex-direction: column;

}

.restart{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 2rem;
    margin: 1rem;
}

.records__ol {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    font-size: 20px;   
    list-style-position: inside;
}
.round{
   
    text-align: center;
    border-bottom: 4px solid white;
    width: 100%;
    /* display: inline-block;
    padding-left: 42%; */
}
.showName{
    position: relative;
}
.control{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.control__btn{
    width: 100%;
    height: auto;
    background: transparent;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
}
.control__btn:hover{
    background: rgba(0, 0, 0, 0.384);
}

.new-game__btn{
    border-right: 2px solid white;
}
.reset__btn{
    border-left: 2px solid white;
}

.footer{
    background-color: #111;
    width: 100%;
    bottom: 0;
    position: absolute;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 10px;
}
.github__footer{
    color: white;
    display: flex;
    font-size: 30px;
}

.github__footer a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
.rsschool__footer img {
    display: flex;
    width: 150px;
    height: auto;
    -webkit-filter: drop-shadow(0 0 4px rgba(184, 183, 183, 0.5));
    filter: drop-shadow(0 0 4px rgba(184, 183, 183, 0.5));
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
