%flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}
%flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
%heading2{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 44px;
    line-height: 130%;
}
%heading3{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
%heading4{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
%heading5{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
%ParagraphL{
    font: $arial-regular;
    color: $color-dark-xl;
    font-size: 15px;
    line-height: 160%;   
}
%ParagraphS{
    font: $arial-italic;
    color: $color-dark-m;
    font-size: 12px;
    line-height: 150%;
}
%button{
    border: none;
    border-radius: 100px;
    background-color: $color-primary;
    width: 207px;
    height: 52px;
    overflow: hidden;
    cursor: pointer;
    font: $georgia-regular;
    color: $color-dark-3xl;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
%buttonWhite{
    @extend %button;
    border: 2px solid $color-primary;   
    background-color: transparent;
}
%hoverButton{
    background-color: $color-primary-light;
    // border: none;
    border-color: $color-primary-light;
    transition: 0.5s;
}
%hoverCards{
    background-color: $color-light-xl;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 0.5s;
}