 //======== colors ===========//
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

// ======== fonts ========= //
$arial-regular: normal 400 15px 'Arial Regular',  arial;
$arial-italic: italic 400 12px 'Arial',  arial;
$georgia-regular: normal 400 32px 'Georgia',  serif;
