 //======== colors ===========//
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

// ======== fonts ========= //
$arial-regular: normal 400 1.5rem 'Arial Regular',  arial;
$arial-italic: italic 400 1.2rem 'Arial',  arial;
$georgia-regular: normal 400 3.2rem 'Georgia',  serif;

// ======== width ========= //

$content-width: 1279px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;