* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}
body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    border-bottom: 3px solid orange;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 20px;
}
.header-container h2{
    font-size: 2rem;
}
.main{
    flex: 1 1 auto;
    min-height: 100%;
}

.search-box{
    position: relative;
    width: 550px;
    display: flex;
    flex-direction: row;
}
.search-box input {
    box-sizing: border-box;
    /* padding-left: 30px; */
    width: 100%;
    font-size: 1rem;
    padding: 8px 12px;
    background-repeat: 25px;
    outline: none;    
    border: 1px solid #DDD;
    border-radius: 25px;
}
#search{
    position: absolute;
    right: 3%;
    top: 9%;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}
#search:hover{
    cursor: pointer;
}
#cross{
    position: absolute;
    display: none;
    right: 12%;
    top: 13%;
    font-size: 1.2rem;    
    color:#000;    
    cursor: pointer;
}
.random-btn{
    margin-right: 30px;
    position: relative;
}
.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.img{
    width: 380px;
    height: 214px;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
    transition: .5s ease-in-out;
    /* overflow: hidden; */
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.img:hover .download-container{
    display: block;    
    /* transition: .5s ease-in-out; */
   
}
.download-container{
    background-color: rgba(0, 0, 0, 0.700);
    position: relative;
    width: 100%;
    height: 100%;
    display: none;    
    transition: .5s ease-in-out;
    
}
.download-btn{
    position: relative;
    display: inline-block;
    height: 40px;
    width: 100px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8C959D;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
.nav-btn{
    height: 40px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
}
.nav-btn:hover{
    background-color:rgba(255, 255, 255, 0.322);
    border-color: #8C959D;
    /* color: rgba(255, 255, 255, 0.548); */
}

.hide{
    display: none;
}

.footer{    
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-shrink: 0;
    
}
.footer-container{
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    /* flex: 0 0 auto; */
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 2rem;
    /* border-top: 3px solid orange; */
    background-color: orange;
    color: #000;
}
.footer-github{
    display: flex;    
    
}
.footer-github a{
    padding-left: 20px;
    text-decoration: none;
    color: #000;
}
.footer-rs_school{
    padding-right: 40px;
    height: 10%;
    width: 10%;
}