html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: $color-light-xl;
    // width: 1280px;
    margin: 0 auto;    
    max-width: 1280px;
    font-size: 1.6rem;
}
h2{
    @extend %heading2;
}
h3{
    @extend %heading3;
}
h4{
    @extend %heading4;
}
h5{
    @extend %heading5;
}

@media screen and (max-width: $tablet-width) {
    h3{
        font-size: 2.5rem ;
        // text-align: center;
    }
}