.button{
    @extend %button;
    &:hover{
        @extend %hoverButton;
    }
}
.main-button{
    margin-top: 25px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.slider-button{
    @extend %buttonWhite;
    width: 52px;
    position: absolute;
    padding-bottom: 7px;
}
.prev-button{ 
    transform: translateX(87px);       
    left: 0;
    // margin-left: 37px;
}
.next-button{ 
    transform: translateX(-87px);
    right: 0;
    img{
        transform: rotate(0.5turn);
    } 
}
.rest-button{
    margin-top: 60px;
    width: 261px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.slider-buttons__container{
    @extend %flex-nowrap;
    flex-direction: row;
    justify-content:  center;    
    gap: 20px;
    width: 100%;
    margin-top: 28px;
    
}
.slider-pets__button{
    position: relative;
    font-size: 2.0rem;
    padding: 1px;
    &:nth-child(3){
        background-color: $color-primary;
        pointer-events: none;
    }
}

.button[disabled=disabled], .button:disabled {
    color: $color-dark-s;
    border-color: $color-dark-s;
    cursor: default;
    pointer-events: none;
    // opacity: 0.3;
}


@media screen and (max-width: $content-width) {
    .prev-button{
        transform: translateX(30px);
    }
    .next-button{
        transform: translateX(-30px);
    }
}

@media screen and (max-width: $tablet-width) {
    .prev-button{
        transform: translate(68px, 263px);
        // transform: translateY(263px);
    }
    .next-button{
        transform: translate(-68px, 263px);
        // transform: translateY(263px);
    }
    .rest-button{
        margin: 114px 0 42px;
    }
}