@font-face {
  font-family: 'Arial Regular';
  src: url("../../../assets/fonts/ArialMT.eot");
  src: url("../../../assets/fonts/ArialMT.eot");
  src: url("../../../assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/ArialMT.woff") format("woff"), url("../../../assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../../../assets/fonts/Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("../../../assets/fonts/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../../../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../../../assets/fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia-Bold.woff") format("woff"), url("../../../assets/fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia.eot");
  src: local("Georgia"), url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../../../assets/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia-Italic.woff") format("woff"), url("../../../assets/fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.header-container, .pets-contant__slider, .slider-card, .help-contant .list-item, .card, .footer-contant, .footer-contant .footer-contant__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.header__container, .logo, .nav .nav-list, .start-container, .about-contant, .pets-contant, .help-contant, .help-contant .help-contant__list, .donation-contant, .footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

h2 {
  font: normal 400 32px "Georgia", serif;
  color: #545454;
  font-size: 44px;
  line-height: 130%;
}

h3 {
  font: normal 400 32px "Georgia", serif;
  color: #545454;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font: normal 400 32px "Georgia", serif;
  color: #545454;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

h5 {
  font: normal 400 32px "Georgia", serif;
  color: #545454;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.subheading, .about-text p {
  font: normal 400 15px "Arial Regular", arial;
  color: #4C4C4C;
  font-size: 15px;
  line-height: 160%;
}

.pets-contant__slider .slider-button, .slider-card button, .button {
  border: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: #F1CDB3;
  width: 207px;
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  font: normal 400 32px "Georgia", serif;
  color: #292929;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.pets-contant__slider .slider-button, .slider-card button {
  border: 2px solid #F1CDB3;
  background-color: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 1280px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ======== HEADER ======== */
.header {
  height: 60px;
  margin-bottom: -60px;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-title {
  font: normal 400 32px "Georgia", serif;
  color: #F1CDB3;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0;
}

.logo-under__title {
  font: normal 400 15px "Arial Regular", arial;
  color: #FFF;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.nav .nav-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.nav .nav-item {
  margin-right: 36px;
}

.nav .nav-item:last-child {
  margin-right: 0;
}

.nav .nav-link {
  text-decoration: none;
  font: normal 400 15px "Arial Regular", arial;
  color: #CDCDCD;
  cursor: pointer;
  position: relative;
}

.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: #F1CDB3;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 3px;
  background-color: #F1CDB3;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-link:hover {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* ======= Start-section ========== */
.start-container {
  max-width: 1280px;
  height: 908px;
  padding: 0 40px;
  background-image: url(../../../assets/images/start-screen-gradient-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-content {
  width: 1280px;
  height: 908px;
  z-index: 1;
}

.start-content__screen {
  padding-bottom: 244px;
  max-width: 460px;
}

.heading {
  color: #FFF;
  margin-top: 5px;
}

.subheading {
  color: #CDCDCD;
  max-width: 460px;
  padding-top: 5px;
}

.main-button {
  margin-top: 25px;
}

.start-content__img {
  position: relative;
  max-width: 698px;
  max-height: 728px;
}

/* ======= Start-section END ========== */
/* ======= About-section ========== */
.about {
  height: 588px;
}

.height-container {
  height: inherit;
}

.about-contant {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding-top: 80px;
  gap: 120px;
}

.about-pets {
  width: 300px;
  height: 408px;
}

.about-text {
  width: 430px;
  height: 380px;
  padding-top: 14px;
}

.about-text h3 {
  margin: 0px;
}

.about-text p {
  margin: 25px 0px;
}

/* ======= About-section END ========== */
/* ======= Pets-section  ========== */
.pets {
  height: 877px;
}

.pets-contant {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

.pets-contant h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.pets-contant button {
  width: 261px;
}

.pets-contant__slider {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 90px;
  margin-bottom: 60px;
}

.pets-contant__slider .slider-button {
  width: 52px;
  position: absolute;
  padding-bottom: 7px;
}

.pets-contant__slider .prev-button {
  left: -105px;
}

.pets-contant__slider .next-button {
  right: -105px;
}

.pets-contant__slider .next-button img {
  -webkit-transform: rotate(0.5turn);
      -ms-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.slider-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 435px;
}

.slider-card h4 {
  margin: 30px 0;
}

.slider-card button {
  width: 187px;
}

/* ======= Pets-section END ========== */
/* ======= Help-section ========== */
.help {
  height: 611px;
}

.help-contant {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.help-contant h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.help-contant .help-contant__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px 120px;
}

.help-contant .list-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-contant h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.svg-icon {
  width: 60px;
  height: 60px;
}

/* ======= Help-section END ========== */
/* ======= Donation-section ========== */
.donation {
  height: 462px;
}

.donation-contant {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-top: 80px;
}

.donation-contant .donation-contant__dog {
  height: 261px;
}

.donation-contant .donation-contant__info {
  max-width: 380px;
  max-height: 282px;
}

.donation-contant .donation-contant__info h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.donation-contant .donation-contant__info h5 {
  margin: 20px 0;
}

.donation-contant .donation-contant__info .lorem-p {
  font: italic 400 12px "Arial", arial;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin-top: 20px;
}

.card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 349px;
  height: 43px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #F1CDB3;
  padding: 0 15px;
}

.card img {
  width: 30px;
  height: 23px;
}

.card .card-numbers {
  font: normal 400 32px "Georgia", serif;
  font-size: 20px;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.06em;
}

/* ======= Donation-section END ========== */
/* =======Footer ========== */
.footer {
  height: 350px;
  background-image: url(../../../assets/images/footer-gradient-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.footer-flex img {
  position: relative;
}

.footer-contant {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-contant h3 {
  color: #FFF;
  margin-top: 20px;
}

.footer-contant .footer-contant__social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contant .footer-contant__social:nth-of-type(1) {
  margin-bottom: 40px;
}

.footer-contant .footer-contant__social .footer-icon {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}

.footer-contant a {
  text-decoration: none;
  font: normal 400 32px "Georgia", serif;
  color: #F1CDB3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-locations {
  width: 302px;
}

.footer-locations h3 {
  margin-bottom: 30px;
}

.footer-locations .footer-contant__social:nth-of-type(1) {
  margin-bottom: 30px;
}

.footer-locations .footer-contant__social .footer-icon {
  width: 22px;
  height: 32px;
}

/* =======Footer END ========== */
/*# sourceMappingURL=main.css.map */