@font-face {
  font-family: 'Arial Regular';
  src: url("../../../assets/fonts/ArialMT.eot");
  src: url("../../../assets/fonts/ArialMT.eot");
  src: url("../../../assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/ArialMT.woff") format("woff"), url("../../../assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../../../assets/fonts/Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("../../../assets/fonts/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../../../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../../../assets/fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia-Bold.woff") format("woff"), url("../../../assets/fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia.eot");
  src: local("Georgia"), url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../../../assets/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia-Italic.woff") format("woff"), url("../../../assets/fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.header__container, .logo, .nav .nav-list, .start-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 1280px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ======== HEADER ======== */
.header {
  height: 60px;
  margin-bottom: -60px;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-title {
  font: normal 400 32px "Georgia", serif;
  color: #F1CDB3;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0;
}

.logo-under__title {
  font: normal 400 15px "Arial Regular", arial;
  color: #FFF;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.nav .nav-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.nav .nav-item {
  margin-right: 36px;
}

.nav .nav-item:last-child {
  margin-right: 0;
}

.nav .nav-link {
  text-decoration: none;
  font: normal 400 15px "Arial Regular", arial;
  color: #CDCDCD;
  cursor: pointer;
  position: relative;
}

.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: #F1CDB3;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 3px;
  background-color: #F1CDB3;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-link:hover {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.start-container {
  max-width: 1280px;
  height: 908px;
  padding: 0 40px;
  background-image: url(../../../assets/images/start-screen-gradient-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-content {
  width: 1280px;
  height: 908px;
  z-index: 1;
}

.start-content__screen {
  padding-bottom: 244px;
  max-width: 460px;
}

.heading {
  font: normal 400 32px "Georgia", serif;
  color: #FFF;
  font-size: 44px;
  line-height: 130%;
  margin-top: 5px;
}

.subheading {
  font: normal 400 15px "Arial Regular", arial;
  color: #CDCDCD;
  line-height: 160%;
  max-width: 460px;
  padding-top: 5px;
}

.button {
  border: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: #F1CDB3;
  width: 207px;
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  font: normal 400 32px "Georgia", serif;
  color: #292929;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.main-button {
  margin-top: 25px;
}

.start-content__img {
  position: relative;
  max-width: 698px;
  max-height: 728px;
}
/*# sourceMappingURL=main.css.map */