html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    color: #fff;
    /* background-color: #000; */  
}
.container {    
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* ============= HEADER ============ */

.header {

}
.header-container{    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 90px;    
}
.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;   
}
.nav-item{
    margin-right: 30px;
}
.nav-item:last-child{
    margin-right: 32px; /* or 31px */
}
.nav-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;    
}
.nav-lang{
    display: flex;
    font-weight: bold;
    line-height: 50px;
}
.nav-lang-item{
    margin-right: 9px;
}
.nav-lang-item:first-child{
    color: #BDAE82;
}
.nav-lang-item:last-child{
    margin-right: 0;
}

/* =========== MAIN ============== */

.hero-container {
    padding: 0;
}
.hero{ 
    height: 910px;
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center -90px;
    background-repeat: no-repeat;
}
.hero-title{
    padding-top: 160px;
    padding-left: 80px;
}
.hero-title__h1{
    margin-bottom: 8px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}
.p{    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.button{
    height: 55px;
    width: 220px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;    
    color: #000;
}
.hero-title__p{
    
}
.hero-title__button{
   margin-top: 27px;
}