html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    color: #fff;
    /* background-color: #000; */
    

}

.container {
    /* display: flex; */
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* ============= HEADER ============ */

.header {

}
.header-container{
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px; 
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 90px;
    /* padding: 20px 20px; */
}
.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;    
}
.nav-lang{
    /* display: flex; */
}



/* =========== MAIN ============== */

.hero-container {
    padding: 0;
}
.hero{ 
    height: 910px;
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center -90px;
    background-repeat: no-repeat;
}
