html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    color: #fff;
    /* background-color: #000; */  
}
.container {    
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #000;
  }

  /* ============= HEADER ============ */

.header {

}
.header-container{    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 90px;    
}
.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;   
}
.nav-item{
    margin-right: 30px;
}
.nav-item:last-child{
    margin-right: 32px; /* or 31px */
}
.nav-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;    
}
.nav-lang{
    display: flex;
    font-weight: bold;
    line-height: 50px;
}
.nav-lang-item{
    margin-right: 9px;
}
.nav-lang-item:first-child{
    color: #BDAE82;
}
.nav-lang-item:last-child{
    margin-right: 0;
}

/* =========== MAIN ============== */

.hero-container {
    padding: 0;
}
.hero{ 
    height: 820px;
    background-image: url('./assets/img/bg.jpg');
    background-size: cover;
    background-position: center -90px;
    background-repeat: no-repeat;
}
.hero-title{
    padding-top: 160px;
    padding-left: 80px;
}
.hero-title__h1{
    margin-bottom: 8px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
}
.p{    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.button{
    height: 55px;
    width: 220px;
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;    
    color: #000;
}
.hero-title__p{
    
}
.hero-title__button{
   margin-top: 27px;
}

.skills{   
    height: 482px;
    padding-top: 100px;

}
.section-title{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;   
    
    
}
.line-title{
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    overflow: hidden;
    
}
.section-title::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 400px;
    top: 50%;
    left: 120%;
    background-color: #BDAE82;
}
.section-title::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 400px;
    top: 50%;
    right: 120%;  
    background-color: #BDAE82;
}
.skills-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}
.skill-item{
    width: 320px;
    height: 240px;
    text-align: center;
    background-position: center top;
    padding-top: 110px;
}
.skill-item:nth-child(1){
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}
.skill-item:nth-child(2){
    background-image: url('./assets/svg/video.svg');
    background-size: 60px 50px;
    background-repeat: no-repeat;
}
.skill-item:nth-child(3){
    background-image: url('./assets/svg/image.svg');
    background-size: 66px 50px;
    background-repeat: no-repeat;
}
.skill-item:nth-child(4){
    background-image: url('./assets/svg/mic.svg');
    background-size: 32px 50px;
    background-repeat: no-repeat;
}
.skill-title{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.skill-p{
    font-size: 18px;
    line-height: 36px;
}