// Header

.header__pets{
    position: sticky;
    height: 120px;
    margin-bottom: 0;
    background-color: $color-light-xl;
    z-index: 10;
}
.header-container__pets{ 
    height: 60px;   
    padding-top: 0;
    padding-top: 30px;
    @extend %flex-nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.logo-title__pets{
    color: $color-dark-l;
    position: relative;
    margin-top: 0;
}

.logo-under_title__pets {
    color: $color-dark-3xl;

}

.nav-link__pets{
    color: $color-dark-l;
    &:hover{
        color: $color-dark-3xl;
        transition: 0.5s;
    }
}



.nav-active__pets{
    // border-bottom: 3px solid $color-primary;
    .nav-link__pets{
        color: $color-dark-3xl;
    }
    &:after{
        content: "";
        width: 100%;
        display: block;
        position: relative;
        right: 0;
        bottom: -3px;       
        height: 3px;       
        background-color: $color-primary;
    }
}


// Pets


.pets-page__slider{
    @extend %flex-wrap;
    gap: 30px 40px;
    justify-content: center;
}

@media screen and (max-width: $content-width) {
    .pets-page__pets-contant{
        padding: 80px 0 76px;
        .pets-page__h3{
        margin-bottom: 30px;
        }
    }
    .pets-page__slider{
        // gap: 30px calc(40px + (320 - 40) * ((100vw - 769px) / (1279 - 768)));
        @include calcWidth(gap, 30px, 40, 320, 100, 768, 1279);
        // calc(MinRangePX + (MaxRange - MinRange) * ((100vw - MinResolutionPX) / (MaxRes - MinRes))                
    }
    .slider-card__pets-page:nth-last-child(-n+3){
        display: none;
    }
    .header-container__pets{ 
        padding: 30px 30px 0;
    }
    .slider-buttons__container{
        margin-top: 9px;
    }
}

@media screen and (max-width: $tablet-width) {
    .header-container__pets{
        padding: 30px 10px 0;
    }
    .header__burger__pets-page{
        margin-top: 20px;
        .burger__line{
            background-color: #000;
        }
    }
    .nav-link__pets{
        color: $color-light-s;
    }
    .nav-active__pets{        
        .nav-link__pets{
            color: $color-light-s;
        }
    }
    .pets-page__slider{
        flex-direction: column;
        align-items: center;
    }
    .slider-card__pets-page:nth-last-child(-n+6){
        display: none;
    }
    .slider-buttons__container{
        gap: 10px;
    }
    .pets-page__pets-contant{
        padding: 0px 0 42px;
        .pets-page__h3{
            margin: 42px 0;
        }
    }
}