@import "fonts/fonts";

// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";


// Base
@import "base/base";
@import "base/buttons";
@import "base/icons";

// layout 
@import "layout/container";
@import "layout/header";
@import "layout/footer";


// Components 
@import "components/_start-screen";
@import "components/about";
@import "components/donation";
@import "components/help";
@import "components/pets";

//Pages
@import "pages/main";
@import "pages/our-pets";