@font-face {
  font-family: 'Arial Regular';
  src: url("../../../assets/fonts/ArialMT.eot");
  src: url("../../../assets/fonts/ArialMT.eot");
  src: url("../../../assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/ArialMT.woff") format("woff"), url("../../../assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../../../assets/fonts/Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("../../../assets/fonts/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../../../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia-Bold.eot");
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../../../assets/fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia-Bold.woff") format("woff"), url("../../../assets/fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia.eot");
  src: local("Georgia"), url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../../assets/fonts/Georgia-Italic.eot");
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../../../assets/fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia-Italic.woff") format("woff"), url("../../../assets/fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.slider-buttons__container, .header-container, .logo, .footer-contant, .footer-contant .footer-contant__social, .card, .help-contant .list-item, .pets-contant__slider, .slider-container, .slider-card, .header-container__pets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.header__container, .nav .nav-list, .footer-flex, .footer-info__flex-container, .start-container, .about-contant, .donation-contant, .help-contant, .help-contant .help-contant__list, .pets-contant, .pets-page__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

h2 {
  font: normal 400 3.2rem "Georgia", serif;
  color: #545454;
  font-size: 4.4rem;
  line-height: 130%;
}

h3 {
  font: normal 400 3.2rem "Georgia", serif;
  color: #545454;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font: normal 400 3.2rem "Georgia", serif;
  color: #545454;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

h5 {
  font: normal 400 3.2rem "Georgia", serif;
  color: #545454;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.subheading, .about-text p {
  font: normal 400 1.5rem "Arial Regular", arial;
  color: #4C4C4C;
  font-size: 1.5rem;
  line-height: 160%;
}

.slider-button, .slider-card button, .button {
  border: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: #F1CDB3;
  width: 207px;
  height: 52px;
  overflow: hidden;
  cursor: pointer;
  font: normal 400 3.2rem "Georgia", serif;
  color: #292929;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.slider-button, .slider-card button {
  border: 2px solid #F1CDB3;
  background-color: transparent;
}

.button:hover, .card:hover, .slider-card:hover .button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider-card:hover {
  background-color: #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 1280px;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

.main-button {
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

.slider-button {
  width: 52px;
  position: absolute;
  padding-bottom: 7px;
}

.prev-button {
  -webkit-transform: translateX(87px);
      -ms-transform: translateX(87px);
          transform: translateX(87px);
  left: 0;
}

.next-button {
  -webkit-transform: translateX(-87px);
      -ms-transform: translateX(-87px);
          transform: translateX(-87px);
  right: 0;
}

.next-button img {
  -webkit-transform: rotate(0.5turn);
      -ms-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

.rest-button {
  margin-top: 60px;
  width: 261px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
}

.slider-buttons__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 28px;
}

.slider-pets__button {
  position: relative;
  font-size: 2.0rem;
  padding: 1px;
}

.slider-pets__button:nth-child(3) {
  background-color: #F1CDB3;
  pointer-events: none;
}

.button[disabled=disabled], .button:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 1279px) {
  .prev-button {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px);
  }
  .next-button {
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@media screen and (max-width: 767px) {
  .prev-button {
    -webkit-transform: translate(68px, 263px);
        -ms-transform: translate(68px, 263px);
            transform: translate(68px, 263px);
  }
  .next-button {
    -webkit-transform: translate(-68px, 263px);
        -ms-transform: translate(-68px, 263px);
            transform: translate(-68px, 263px);
  }
  .rest-button {
    margin: 114px 0 42px;
  }
}

.svg-icon {
  width: 60px;
  height: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ======== HEADER ======== */
.header {
  height: 60px;
  margin-bottom: -60px;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-title {
  font: normal 400 3.2rem "Georgia", serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 0;
  margin: 0;
}

.logo-title a {
  text-decoration: none;
  color: inherit;
}

.logo-under_title {
  font: normal 400 1.5rem "Arial Regular", arial;
  font-size: 1.3rem;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 10px 0 0;
}

.nav .nav-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.nav .nav-item {
  margin-right: 36px;
}

.nav .nav-item:last-child {
  margin-right: 0;
}

.nav .nav-link {
  text-decoration: none;
  font: normal 400 1.5rem "Arial Regular", arial;
  cursor: pointer;
  position: relative;
}

.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -7px;
  width: 0;
  height: 3px;
  background-color: #F1CDB3;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 3px;
  background-color: #F1CDB3;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.nav-link:hover {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-active:after {
  content: "";
  width: 100%;
  display: block;
  position: relative;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #F1CDB3;
}

.header__burger {
  display: block;
  position: fixed;
  right: 0;
  margin-right: 53px;
  width: 30px;
  height: 22px;
  z-index: 15;
  -webkit-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

@media screen and (max-width: 1279px) {
  .header-container {
    padding: 30px 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    padding: 30px 10px 0;
  }
  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #292929;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
  }
  .nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav-item {
    padding: 26px 0;
    margin: 0;
    text-align: center;
  }
  .nav .nav-link {
    font-size: 3.2rem;
  }
  .nav-open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

/* =======Footer ========== */
.footer {
  background-image: url(../../assets/images/footer-gradient-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.footer-flex img {
  position: relative;
}

.footer-info__flex-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 160px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contant {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-contant h3 {
  color: #FFF;
  margin-top: 20px;
}

.footer-contant .footer-contant__social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contant .footer-contant__social:nth-of-type(1) {
  margin-bottom: 40px;
}

.footer-contant .footer-contant__social .footer-icon {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}

.footer-contant a {
  text-decoration: none;
  font: normal 400 3.2rem "Georgia", serif;
  color: #F1CDB3;
  font-size: 2.0rem;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-locations {
  width: 302px;
}

.footer-locations h3 {
  margin-bottom: 30px;
}

.footer-locations .footer-contant__social:nth-of-type(1) {
  margin-bottom: 30px;
}

.footer-locations .footer-contant__social .footer-icon {
  width: 22px;
  height: 32px;
}

@media screen and (max-width: 1279px) {
  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 65px 60px;
    padding-top: 15px;
  }
  .footer-info__flex-container {
    gap: 0 -webkit-calc(60px + (350 - 60) * ((100vw - 768px) / (1279 - 768)));
    gap: 0 calc(60px + (350 - 60) * ((100vw - 768px) / (1279 - 768)));
  }
}

/* ======= Start-section ========== */
.start-container {
  max-width: 1280px;
  padding: 180px 40px 0;
  background-image: url(../../assets/images/start-screen-gradient-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-content {
  max-width: 1280px;
  z-index: 1;
}

.start-content__screen {
  padding-bottom: 240px;
  max-width: 460px;
}

.heading {
  color: #FFF;
  margin-top: 5px;
}

.subheading {
  color: #CDCDCD;
  max-width: 460px;
  padding-top: 5px;
}

.start-content__img {
  position: relative;
}

@media screen and (max-width: 1279px) {
  .start-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 150px 30px 0;
  }
  .start-content__screen {
    padding-bottom: 100px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-content__screen .heading {
    margin: 0 0 22px;
  }
  .start-content__screen a {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .start-content__img {
    width: -webkit-calc(569px + (698 - 569) * ((100vw - 768px) / (1279 - 768)));
    width: calc(569px + (698 - 569) * ((100vw - 768px) / (1279 - 768)));
  }
}

@media screen and (max-width: 767px) {
  .start-container {
    padding: 150px 10px 0;
  }
  .start-content__screen {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .start-content__img {
    width: -webkit-calc(260px + (569 - 260) * ((100vw - 320px) / (768 - 320)));
    width: calc(260px + (569 - 260) * ((100vw - 320px) / (768 - 320)));
  }
  .heading {
    font-size: 2.5rem;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 320px) {
  .start-container {
    height: 823px;
  }
}

/* ======= About-section ========== */
.height-container {
  height: inherit;
}

.about-contant {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  padding: 80px 0 100px;
  gap: 120px;
}

.about-pets {
  width: 300px;
  height: 408px;
}

.about-text {
  width: 430px;
  height: 380px;
  padding-top: 14px;
}

.about-text h3 {
  margin: 0px;
}

.about-text p {
  margin: 25px 0px;
}

/* ======= About-section END ========== */
@media screen and (max-width: 1279px) {
  .about-contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
  .about-text {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .about-contant {
    padding: 42px 25px 42.4px;
    gap: 18px;
  }
  .about-contant img {
    width: -webkit-calc(260px + (300 - 260) * ((100vw - 320px) / (768 - 320)));
    width: calc(260px + (300 - 260) * ((100vw - 320px) / (768 - 320)));
    height: auto;
  }
  .about-text {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .about-text h3 {
    margin-bottom: 25px;
  }
  .about-text p {
    font-size: 1.5rem;
    line-height: 160%;
    text-align: justify;
    margin: 0 0 22px;
  }
}

/* ======= Donation-section ========== */
.donation {
  background-color: #F6F6F6;
}

.donation-contant {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 80px 0 100px;
}

.donation-contant .donation-contant__dog {
  height: 261px;
}

.donation-contant .donation-contant__info {
  max-width: 380px;
  max-height: 282px;
}

.donation-contant .donation-contant__info h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.donation-contant .donation-contant__info h5 {
  margin: 20px 0;
}

.donation-contant .donation-contant__info .lorem-p {
  font: italic 400 1.2rem "Arial", arial;
  font-size: 1.2rem;
  line-height: 18px;
  color: #B2B2B2;
  margin-top: 20px;
}

.card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 349px;
  height: 43px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background-color: #F1CDB3;
  padding: 0 15px;
}

.card img {
  width: 30px;
  height: 23px;
}

.card .card-numbers {
  font: normal 400 3.2rem "Georgia", serif;
  font-size: 2.0rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.card .card-numbers a {
  text-decoration: none;
  color: #545454;
}

/* ======= Donation-section END ========== */
@media screen and (max-width: 1279px) {
  .donation-contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .donation-contant {
    padding: 0;
  }
  .donation-contant .donation-contant__info {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  .donation-contant .donation-contant__info h3 {
    margin: 42px 0 10px;
  }
  .donation-contant .donation-contant__info h5 {
    margin: 15px 0 20px;
    letter-spacing: 0;
  }
  .donation-contant .donation-contant__info .card {
    width: 281px;
  }
  .donation-contant .donation-contant__info .card .card-numbers {
    font-size: 1.5rem;
  }
  .donation-contant .donation-contant__info .lorem-p {
    text-align: justify;
  }
  .donation-contant .donation-contant__dog {
    width: -webkit-calc(260px + (505 - 260) * ((100vw - 320px) / (767 - 320)));
    width: calc(260px + (505 - 260) * ((100vw - 320px) / (767 - 320)));
    height: auto;
    margin: 20px 0 42px;
  }
  .donation-contant .donation-contant__dog img {
    width: 100%;
    height: auto;
  }
}

/* ======= Help-section ========== */
.help-contant {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 100px;
}

.help-contant h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.help-contant .help-contant__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px 120px;
}

.help-contant .list-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-contant h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

/* ======= Help-section END ========== */
@media screen and (max-width: 1279px) {
  .help-contant .help-contant__list {
    gap: 55px -webkit-calc(60px + (210 - 60) * ((100vw - 768px) / (1279 - 768)));
    gap: 55px calc(60px + (210 - 60) * ((100vw - 768px) / (1279 - 768)));
  }
  .help-contant .help-contant__list .list-item {
    -webkit-flex-basis: 170px;
        -ms-flex-preferred-size: 170px;
            flex-basis: 170px;
  }
}

@media screen and (max-width: 767px) {
  .help-contant {
    padding: 0;
  }
  .help-contant .help-contant__list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 17px;
    gap: 30px -webkit-calc(10px + (80 - 10) * ((100vw - 320px) / (767 - 320)));
    gap: 30px calc(10px + (80 - 10) * ((100vw - 320px) / (767 - 320)));
    padding: 0 -webkit-calc(15px + (120 - 15) * ((100vw - 320px) / (767 - 320)));
    padding: 0 calc(15px + (120 - 15) * ((100vw - 320px) / (767 - 320)));
    margin-bottom: 42px;
  }
  .help-contant .help-contant__list .list-item {
    -webkit-flex-basis: 130px;
        -ms-flex-preferred-size: 130px;
            flex-basis: 130px;
  }
  .help-contant .help-contant__list h4 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .help-contant h3 {
    margin: 42px 0;
  }
  .svg-icon {
    max-height: 50px;
    max-width: 60px;
  }
}

/* ======= Pets-section  ========== */
.pets {
  background-color: #F6F6F6;
}

.pets-contant {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0 100px;
}

.pets-contant h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.pets-contant__slider {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 52px;
  gap: 90px;
}

.slider-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
}

.slider-card h4 {
  margin: 30px 0;
}

.slider-card button {
  width: 187px;
}

.slider-card img {
  position: relative;
  height: 270px;
  width: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 9px 9px 0px 0px;
          border-radius: 9px 9px 0px 0px;
}

/* ======= Pets-section END ========== */
@media screen and (max-width: 1279px) {
  .slider-container {
    padding: 0 12px;
    gap: 40px;
  }
  .slider-card:last-child {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pets-contant {
    padding: 0;
  }
  .pets-contant h3 {
    margin: 42px 0;
  }
  .slider-card:nth-last-child(-n+2) {
    display: none;
  }
}

.logo-title__main {
  color: #F1CDB3;
}

.logo-under_title__main {
  color: #FFF;
}

.nav-link__main {
  color: #CDCDCD;
}

.nav-active__main .nav-link {
  color: #FAFAFA;
}

.nav-active__main:after {
  content: "";
  width: 100%;
  display: block;
  position: relative;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #F1CDB3;
}

.header__pets {
  position: -webkit-sticky;
  position: sticky;
  height: 120px;
  margin-bottom: 0;
  background-color: #FFF;
  z-index: 10;
}

.header-container__pets {
  height: 60px;
  padding-top: 0;
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-title__pets {
  color: #545454;
  position: relative;
  margin-top: 0;
}

.logo-under_title__pets {
  color: #292929;
}

.nav-link__pets {
  color: #545454;
}

.nav-link__pets:hover {
  color: #292929;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-active__pets .nav-link__pets {
  color: #292929;
}

.nav-active__pets:after {
  content: "";
  width: 100%;
  display: block;
  position: relative;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #F1CDB3;
}

.pets-page__slider {
  gap: 30px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1279px) {
  .pets-page__pets-contant {
    padding: 80px 0 76px;
  }
  .pets-page__pets-contant .pets-page__h3 {
    margin-bottom: 30px;
  }
  .pets-page__slider {
    gap: 30px -webkit-calc(40px + (320 - 40) * ((100vw - 768px) / (1279 - 768)));
    gap: 30px calc(40px + (320 - 40) * ((100vw - 768px) / (1279 - 768)));
  }
  .slider-card__pets-page:nth-last-child(-n+3) {
    display: none;
  }
  .header-container__pets {
    padding: 30px 30px 0;
  }
  .slider-buttons__container {
    margin-top: 9px;
  }
}
/*# sourceMappingURL=style.css.map */