@import 'fonts/_fonts';
    //======== colors ===========//
$color-primary: #F1CDB3;
$color-light-xl: #FFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;


// ======== fonts ========= //
$arial-regular: normal 400 15px 'Arial Regular',  arial;
$arial-italic: italic 400 12px 'Arial',  arial;
$georgia-regular: normal 400 32px 'Georgia',  serif;

%flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}
%flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
%heading2{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 44px;
    line-height: 130%;
}
%heading3{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
%heading4{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
%heading5{
    font: $georgia-regular;
    color: $color-dark-l;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
%ParagraphL{
    font: $arial-regular;
    color: $color-dark-xl;
    font-size: 15px;
    line-height: 160%;   
}
%ParagraphS{
    font: $arial-italic;
    color: $color-dark-m;
    font-size: 12px;
    line-height: 150%;
}
%button{
    border: none;
    border-radius: 100px;
    background-color: $color-primary;
    width: 207px;
    height: 52px;
    overflow: hidden;
    cursor: pointer;
    font: $georgia-regular;
    color: $color-dark-3xl;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
%buttonWhite{
    @extend %button;
    border: 2px solid $color-primary;   
    background-color: transparent;
}



html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: $color-light-xl;
    // width: 1280px;
    margin: 0 auto;    
    max-width: 1280px;
}
h2{
    @extend %heading2;
}
h3{
    @extend %heading3;
}
h4{
    @extend %heading4;
}
h5{
    @extend %heading5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    // padding: 0 40px;
    // padding: 0 40px;
}

/* ======== HEADER ======== */
.header {
    // width: 1280px;
    height: 60px;
    margin-bottom: -60px;

    top: 0;
    left: 0;
    width: 100%;
}
.header__container{
    @extend %flex-wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header-container{
    @extend %flex-nowrap;
    align-items: center;
    justify-content: space-between;    
    padding-top: 40px;
    // height: 60px;
}
.logo {    
    @extend %flex-wrap;
    flex-direction: column;
    align-items: center;
    // padding-left: 40px;    
}
.logo-title{
    font: $georgia-regular;
    color: $color-primary;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}
.logo-under__title {
    font: $arial-regular;
    color: $color-light-xl;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
}

.nav{
    .nav-list{
        @extend %flex-wrap;
        flex-direction: row;
        list-style: none;
    }
      .nav-item{
          margin-right: 36px;
      }
      .nav-item:last-child{
          margin-right: 0;
      }
       .nav-link{
           text-decoration: none;
           font: $arial-regular;
           color: $color-dark-s;
           cursor: pointer;
           position: relative;
       }
}
.nav-link{
    &:after{
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -8px;
        width: 0;
        height: 3px;       
        background-color: $color-primary;
        transition: width 0.5s;
    }
    &:hover:after{
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 3px;
        
        background-color: $color-primary;
        transition: width 0.5s;
    }
    &:hover{
        color: $color-light-s;
        transition: 0.5s;
    }
}

// .main{
//     // width: 1280px;    
// }
/* ======= Start-section ========== */
.start-container {
    max-width: 1280px;
    height: 908px;
    padding: 0 40px;
    background-image: url(../../../assets/images/start-screen-gradient-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @extend %flex-wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}
.start-content{
    width: 1280px;
    height: 908px;    
    z-index: 1;
}
.start-content__screen{
    padding-bottom: 244px;
    max-width: 460px;
}
.heading{    
    color: $color-light-xl;
    margin-top: 5px;
}
.subheading{
    @extend %ParagraphL;
    color: $color-dark-s;
    max-width: 460px;
    padding-top: 5px;
}
.button{
    @extend %button;
}
.main-button{
    margin-top: 25px;
}
.start-content__img{
    position: relative;
    max-width: 698px;
    max-height: 728px;
}
/* ======= Start-section END ========== */

/* ======= About-section ========== */
.about{
    height: 588px;
}
.height-container{
    height: inherit;
}
.about-contant{
    @extend %flex-wrap;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
    gap: 120px;
}
.about-pets{
    width: 300px;
    height: 408px;
}
.about-text {
    width: 430px;
    height: 380px;
    padding-top: 14px;
    h3 {        
        margin: 0px;
    }
    p{
        @extend %ParagraphL;        
        margin: 25px 0px;
    }
}
/* ======= About-section END ========== */

/* ======= Pets-section  ========== */
.pets{
    height: 877px;
}
.pets-contant{
    @extend %flex-wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
    button {
        width: 261px;
    }
}
.pets-contant__slider{
    @extend %flex-nowrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 90px;
    margin-bottom: 60px;
    .slider-button{
        @extend %buttonWhite;
        width: 52px;
        position: absolute;
        padding-bottom: 7px;
    }
    .prev-button{        
        left: -105px;
        // margin-left: 37px;
    }
    .next-button{ 
        right: -105px;
        img{
            transform: rotate(0.5turn);
        } 
    }
}
.slider-card{   
    h4 {
        margin: 30px 0;
    }
    button{
        @extend %buttonWhite;
        width: 187px;  
    }
    @extend %flex-nowrap;
    flex-direction: column;
    align-items: center;    
    width: 270px;
    height: 435px;
}

/* ======= Pets-section END ========== */

/* ======= Help-section ========== */

.help{
    height: 611px;
}
.help-contant{
    @extend %flex-wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 60px;
    }
    .help-contant__list{
        @extend %flex-wrap;
        flex-direction: row;
        justify-content: center;
        gap: 55px 120px;
    }   
        .list-item{
            @extend %flex-nowrap;
            flex-direction: column;
            align-items: center;
        }
            h4{
                margin-top: 30px;
                margin-bottom: 0;
            } 
}
.svg-icon {
    width: 60px;
    height: 60px;    
  }
  /* ======= Help-section END ========== */

  /* ======= Donation-section ========== */

.donation {
    height: 462px;
}
.donation-contant{
    @extend %flex-wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 80px;
    .donation-contant__dog{
        height: 261px;
    }
    .donation-contant__info{
        max-width: 380px;
        max-height: 282px;
        h3{
            margin-top: 0;
            margin-bottom: 20px;
        }
        h5{
            margin: 20px 0;
        }
        .lorem-p{
            font: $arial-italic;
            font-size: 12px;
            line-height: 18px;
            color: $color-dark-m;
            margin-top: 20px;
        }
    }
}
.card{
    @extend %flex-nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background-color: $color-primary;
    padding: 0 15px;
    img{
        width: 30px;
        height: 23px;
    }
    .card-numbers{
        font: $georgia-regular;
        font-size: 20px;
        color: $color-dark-l;
        line-height: 115%;
        letter-spacing: 0.06em;
    }
}
  /* ======= Donation-section END ========== */

  /* =======Footer ========== */
.footer{
    height: 350px;
    background-image: url(../../../assets/images/footer-gradient-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.footer-flex{
    @extend %flex-wrap;
    flex-direction: row;
    justify-content: space-around;
    img{
        position: relative;
    }
}
.footer-contant{
    @extend %flex-nowrap;
    flex-direction: column;
    h3{
        color: $color-light-xl;
    }
    .footer-contant__social{
        @extend %flex-nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    a{
        text-decoration: none;
        font: $georgia-regular;
        color: $color-primary;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    }    
}
.footer-icon:nth-of-type(1){
    width: 40px;
    height: 26px;
}
.footer-icon:nth-of-type(2){
    width: 40px;
    height: 32px;
}
.footer-icon:nth-of-type(3){
    width: 22px;
    height: 32px;
}
.footer-icon:nth-of-type(4){
    width: 22px;
    height: 32px;
}

  /* =======Footer END ========== */